torch==2.0.0
torchaudio==2.0.0
numpy==1.23.5
scipy==1.10.0
librosa==0.10.0
soundfile==0.12.1
matplotlib==3.7.1
scikit-learn==1.2.2
pandas==2.0.1
openai-whisper
opencv-python
Pillow
requests
tqdm
moviepy
g2p-en
epitran
python-Levenshtein
pydub
silero-vad